/* Porjects.scss */

  .titles{
    padding: 100px 0;
  }
    .title-projects{
      color: #ffffff;
      font-size: 1.3rem;
      transition: 0.3s;
      cursor: pointer;
      &:hover{
        color: rgb(62, 5, 255);
      }
    }

    .selected{
      color: rgb(62, 5, 255);
      transition: 0.3s;
    }


    .layout {
      display: grid;
      grid-template-columns: repeat(8, 1fr);
      grid-gap: 8px;
      grid-auto-flow: dense;
    }


     .item:nth-child(1n){
      grid-column:2 span;
     
    }
    .item:nth-child(2n){
      grid-column:4 span;
    }
    .item:nth-child(3n){
      grid-column:2 span;
    }
    .item:nth-child(4n){
      grid-column:5 span;
      
    }
    .item:nth-child(5n){
      grid-column:3 span;
    }
    .item:nth-child(6n){
      grid-column:4 span;
    }
    .item:nth-child(7n){
      grid-column:4 span;
    
    } 
     .item:nth-child(8n){
      grid-column:2 span;
    }
    .item:nth-child(9n){
      grid-column:4 span;
    }
    .item:nth-child(10n){
      grid-column:2 span;
    }
    .item:nth-child(11n){
      grid-column:5 span;
    }
    .item:nth-child(12n){
      grid-column:3 span;
    }
    .item:nth-child(13n ){
      grid-column:4 span;
    }
    .item:nth-child(14n){
      grid-column:4 span;
    } 
    

    .image-project{
      max-width: 100%;
      height: auto;
      display: block;
      object-fit: cover;
  }