.contact{
    background-color: #fff;
    padding-top: 150px;
    color: #000000;
}


.contact-text{
    font-size: 1.4em;
    font-weight: 600;
    text-align: left;
}


.carousel{
    padding: 30px 0;
}

.contact-input{
    border: none;
    outline: none;

}

.input-div{
    border-bottom: #000000 solid 1px;
}

.input-div label{
    font-weight: 600;
}

.contact-btn{
    border-radius: 0;
    font-weight: 100;
    align-self: self-start;
    padding: 10px 70px;
}

.form-container{
    padding: 50px 0 150px 0;
}