.star{
    fill: rgb(62, 5, 255);
    font-size: 20px;
}

.review-container{
    padding: 5%;
}

.skills{
    height: 500px;
}

.text-about{
    font-size: 1.3em;
    width: 100%;
}

.skill{
    font-size: 8em;
    fill: rgb(62, 5, 255);
    padding: 20px;
    transform: rotate(-40deg);
    border-radius: 50%;
    background-color: #ffffff;

}

.about-padding{
    padding-top: 100px;
}

.title-team{
    padding: 3.5rem 0;
    font-weight: 700;
}

.container-team{
    padding-bottom: 7rem;
}


.hover-underline-animation {
    display: inline-block;
    position: relative;
   
  }
  
  .hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgb(62, 5, 255);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }


  .team-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px ,1fr));
    gap: 2rem
  }


  

  @media screen and (max-width: 768px) {
    .text-about{
        font-size: 1em;
       
    }
    .skills{
        height: 300px;
    }

    .review-container{
        padding: 10%;
    }
    .review-titles-container{

        h4{
            font-size: 1em
        }
        h3{
            font-size: 1em;
        }
      }
  }