.images-grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  max-width: 100%;
  overflow: hidden;
  padding: 40px 
}

.arrows{
  font-size: 5rem;
}


.details-container{
    min-height:40vh;
    padding-top: 150px;
   
}

.title-details{
    font-size: 2em;
    font-weight: 700;
}

.credits-details{
    font-size: 1.1em;
}

.vimeo-container{
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  
}

.vimeo-video{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}






  @media screen and (max-width: 768px) {
    .arrows{
      font-size: 2rem;
    }
    .credits-details{
      font-size: 0.9em;
  }
  
  }


  @media screen and (max-width: 450px) {
    .credits-details{
      font-size: 0.7em;
  }

  .images-grid{
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    padding: 20px;
  }
  }