.images-grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  max-width: 80%;
  overflow: hidden;
  padding: 40px ;
  justify-content: center;
  margin: 0 auto;

}

.arrows{
  font-size: 5rem;
  cursor: pointer;
}


.details-container{
   
    padding-top: 100px;
   
}

.similar-item{
     position: relative;
      cursor: pointer;
      overflow: hidden;
      
}

.title-details{
    font-size: 2em;
    font-weight: 700;
}

.credits-details{
    font-size: 1.1em;
}

.player-wrapper {
  max-width: 1000px;
}

.vimeo-video{
  position: absolute;
  top: 0;
  left: 0;
}

.similar-projects-container{
  padding: 15% 0 ;

  h3{
    font-size: 2em;
    font-weight: 700;
  }
  
}






  @media screen and (max-width: 768px) {
    .arrows{
      font-size: 2rem;
    }
    .credits-details{
      font-size: 0.9em;
  }
  
  }


  @media screen and (max-width: 450px) {
    .credits-details{
      font-size: 0.7em;
  }

  .images-grid{
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    padding: 20px;
  }
  }